.wrapper {
  text-align: center;
  padding-top: 2.75rem;
}

@media (min-width: 1000px) {
  .wrapper {
    position: relative;
    text-align: left;
    padding: 2rem 10vw 0 10vw;
  }
}

.title {
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  font-size: 3rem;
  color: white;
}

.titleLink {
  text-decoration: none;
  color: white;
}

@media (min-width: 1000px) {
  .title {
    margin: 0 0 0 3.125rem;
  }
}

.form {
  position: relative;
  text-align: left;
  padding: 2rem;
  background-color: white;
  border-radius: 3.125rem;
  width: 92vw;
  max-width: 31.25rem;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 1000px) {
  .form {
    position: absolute;
    top: 6.25rem;
    right: 9.375rem;
    margin: 0;
    width: 31.25rem;
    height: 31.25rem;
  }
}

.header {
  margin: 0;
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1;
  color: #0B2540;
}

.label {
  display: block;
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
  color: #0B2540;
  transition: color linear 0.125s;
}

.label > p {
  margin: 0.25rem 0;
}

@media (min-width: 1000px) {
  .label {
    margin-top: 3rem;
  }
}

.input {
  display: block;
  border: #0B2540 2px solid;
  border-radius: 5px;
  width: 100%;
  font-size: 1.25rem;
  outline: none;
  transition: border linear 0.125s;
  box-sizing: border-box;
  padding-left: 1rem;
}

.inputMissing::after {
  content: ' - required';
  color: #EB5569;
}

@media (min-width: 1000px) {
  .input {
    height: 3.125rem;
  }
}

.input:focus {
  border: #EB5569 2px solid;
}

.label:focus-within {
  color: #EB5569;
}

.button {
  margin-top: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  background-color: #0B2540;
  width: 100%;
  height: 2.25rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color linear 0.125s;
  transition: color linear 0.125s;
}

@media (min-width: 1000px) {
  .button {
    margin-top: 3rem;
    height: 3.5rem;
  }
}

.button:hover {
  background-color: #EB5569;
  color: #0B2540;
}

.button:focus {
  outline: none;
  box-shadow: 
  0 0 0 5px white,
  0 0 0 10px #EB5569;
}

.signupText {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #0B2540;
}

@media (min-width: 1000px) {
  .signupText {
    color: white;
    transform: translate(-5.4rem, 4rem);
  }
}

.signupLink {
  color: #EB5569;
}

.logo {
  margin-top: 6rem;
  width: 8.8125rem;
  height: 8.8125rem;
}

@media (min-width: 1000px) {
  .logo {
    margin-top: 1.2rem;
    width: 32rem;
    height: 32rem;
  }
}