.userDropDown {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.greeting {
  margin: 0;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
}

.dropDownArrow {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

#dropDown {
  position: absolute;
  box-sizing: border-box;
  padding: 0 5px;
  top: 5rem;
  right: 2rem;
  width: 13.75rem;
  height: 6.25rem;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #0B2540;
}

.svg {
  display: inline-block;
  transform: translateY(5px);
  font-size: 1.125rem;
}

.dropDownButton {
  margin: 5px 0;
  padding-top: 5px;
  width: 100%;
  height: calc(50% - 10px);
  background: none;
  border: none;
  border-radius: 5px;
  text-align: left;
  color: white;
  cursor: pointer;
}

.dropDownButton > p {
  display: inline-block;
  margin: 0 0.25rem;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.dropDownButton:hover {
  background-color: #2570BE;
}